[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
matplotlib = "*"
isort = "*"
seaborn = "*"
mlflow = "*"
flask = "*"
prefect = "==2.0b5"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest --cov=./"
fmt = "sh scripts/fmt.sh"
style_check = "sh scripts/style_check.sh"
