[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
matplotlib = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
nox = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
