[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
matplotlib = "*"
isort = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
nox = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
tests = "pytest --cov=./"
fmt = "sh scripts/fmt.sh"
style_check = "sh scripts/style_check.sh"
